body {
  font-family: 'Saira Extra Condensed',sans-serif;
  padding-top: 54px;
  color: #868e96;
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 15rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.mb-5 {
  font-size:1.5rem;
}

.list-social-icons a {
  color: #328CC1;
}

.list-social-icons a:hover {
  color: #D9B310;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #D9B310;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-toggler-icon {
  border-radius: 20%;
  border: 0px;
  margin-left:10rem;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }

  .nav-item:hover {
    color: #D9B310;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 5rem !important;
  }
}

.bg-primary {
  background-color: #0B3C5D !important;
}

.text-primary {
  color: #0B3C5D !important;
}

a {
  color: #0B3C5D;
}

a:hover, a:focus, a:active {
  color: #D9B310;
}

.parallax, .parallax2, .skills, .education {
  color: white;
}


.typewriter {
  overflow: hidden; 
  border-right: .15em solid black; 
  white-space: nowrap; 
  animation: 
    typing 3s steps(50, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

.uoft {
  width: 10rem;
  padding-left: 10px;
}

.nav-item:after {
  display:block;
  content: '';
  letter-spacing: 1px;
  border-top: solid 3px #D9B310;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.nav-item:hover:after {
 transform: scaleX(1); 
}

.sidebar, .toggle, #page-top {
    transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
}


.toggle {
    position:absolute;
    right:5px;
    top:5px;
    width:50px;
    height:50px;
}

.sidebar-collapsed {
     transform:translateX(-100%);   
    -webkit-transform:translateX(-100%);
}

.sidebar-collapsed .toggle {
    right:-6px;
    background-color: #0B3C5D;
     transform:translateX(100%);   
    -webkit-transform:translateX(100%);   
}


.list-inline-item:hover {
    animation: jelly .4s;
}

@keyframes jelly {
    25% {
        transform: scaleX(1.5);
    }
    50% {
        transform: scaleX(0.6);
    }
    75% {
        transform: scaleX(1.2);
    }
    100% {
        transform: scaleX(1);
    }
}

}
